@model Viajes.Models.ViewModels.AgruparPaisesVM
@*@{
        ViewData["Title"] = "Index";
    }*@

<h1 class="text-center encabezado">¿DÓNDE QUIERES IR HOY?</h1>


<div class="align-items-center">
    @foreach (var continente in Model.PaisContinente)
    {
        int cont = 1;
        <h3 class="text-center subencabezado">@continente.ToUpper()</h3>

        <div id="carouselExampleFade" class="carousel slide carousel-fade paisCar" data-interval="2500" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var pais in Model.Paises)
                {
                    if (pais.Continente == continente && cont == 1)
                    {
                        <div class="card bg-dark text-white carousel-item active">
                            <img src="@pais.Imagen" class="card-img d-block w-100 imagenPais" alt="@pais.Nombre">
                            <div class="card-img-overlay">
                                <a asp-controller="Ciudades" asp-action="CountryCity" asp-route-paisId="@pais.Id">
                                    <h3 class="card-title tituloPais">@pais.Nombre.ToUpper()</h3>
                                </a>
                            </div>
                        </div>
                        cont++;
                    }

                    else if (pais.Continente == continente && cont > 1)
                    {
                        <div class="card bg-dark text-white carousel-item">
                            <img src="@pais.Imagen" class="card-img d-block w-100 imagenPais" alt="@pais.Nombre">
                            <div class="card-img-overlay">
                                <a asp-controller="Ciudades" asp-action="CountryCity" asp-route-paisId="@pais.Id">
                                    <h3 class="card-title tituloPais">@pais.Nombre.ToUpper()</h3>
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
</div>






@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Continente)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Continente)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
