@using Microsoft.AspNetCore.Identity
@model Viajes.Models.ViewModels.ListaPlanPorCiudadVM
@inject UserManager<AppUser> _userManager
<script src="https://kit.fontawesome.com/fae805ac08.js" crossorigin="anonymous"></script>


<h1 class="text-center encabezado">DESCUBRE PLANES POR TODO EL MUNDO</h1>

<div class="filtros text-center">

    <form asp-action="Index">
        <input type="text" class="botonDescubre" placeholder="Ciudad..." name="ciudad" />
        @*<input type="submit" class="botonDescubre" value="Buscar" />*@
        <select class="botonDescubre" name="tipo" id="selectTipo">
            <option value="">Todos</option>
            @{
                foreach (var tipo in Model.TiposPlan)
                {
                    <option value="@tipo">@tipo</option>
                };
            }
        </select>
        <button type="submit" class="botonDescubre" value=""><i class="fas fa-filter fa-x2"></i></button>
    </form>
</div>

@if (Model.Planes.Count == 0)
{
    <h3>Ningún resultado</h3>
}
else
{
    <div class="d-flex align-items-end flex-column w-85">

        @foreach (Plan plan in Model.Planes)
        {
            if (plan.Revisado == true)
            {

                <div class="media planes">
                    <img src="@plan.Imagen" class="mr-3 planImagen" alt="@plan.Nombre">
                    <div class="media-body">
                        <h5 class="mt-0">@plan.Nombre</h5>
                        @plan.Descripcion
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@plan.Ciudad.Nombre, @plan.Ciudad.Pais.Nombre</li>
                            <li class="list-group-item">Tipo: @plan.Tipo</li>
                            <li class="list-group-item">@plan.CantidadValoraciones valoraciones: @plan.ValoracionMedia valoración media</li>
                        </ul>
                        <div class="card-body">
                            <a class="card-link" data-toggle="collapse" href="#collapseExample-@plan.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Valora este plan
                            </a>
                            <a class="card-link" asp-action="Edit" asp-route-id="@plan.Id">Editar plan</a>
                            <a class="card-link" asp-action="Delete" asp-route-id="@plan.Id">Eliminar plan</a>
                        </div>
                        <div class="collapse" id="collapseExample-@plan.Id">
                            <div class="card card-body">

                                @*@if (Model.Valoracion.UsuarioId == _userManager.GetUserId(User) && plan.Id==Model.Valoracion.PlanId)
                                    {

                                    }*@

                                <form asp-controller="Valoraciones" asp-action="Valorar">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineRadio1" asp-for="@Model.Valoracion.Puntuacion" value=1>
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineRadio2" asp-for="@Model.Valoracion.Puntuacion" value=2>
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineRadio3" asp-for="@Model.Valoracion.Puntuacion" value=3>
                                        <label class="form-check-label" for="inlineRadio3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineRadio4" asp-for="@Model.Valoracion.Puntuacion" value=4>
                                        <label class="form-check-label" for="inlineRadio4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineRadio5" asp-for="@Model.Valoracion.Puntuacion" value=5>
                                        <label class="form-check-label" for="inlineRadio5">5</label>
                                    </div>
                                    <input type="hidden" asp-for="@Model.Valoracion.PlanId" value="@plan.Id" />
                                    <input type="submit" value="¡Hecho!" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
};


















@*<div class="filtros text-center">
        <h4 class="text-center subencabezado">Filtra por país</h4>
        <form asp-action="Index">
            @foreach (var continente in Model.PaisContinente)
            {
                <h3 class="subencabezado">@continente</h3>

                @foreach (var pais in Model.Paises)
                {
                    <div asp-action="" class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox-@pais.Id" name="paisSelect" value="@pais.Id">
                        <label class="form-check-label" for="inlineCheckbox-@pais.Id">@pais.Nombre</label>
                    </div>
                }

            }
            <input type="submit" value="Filtrar" />
        </form>
            <h4 class="text-center subencabezado">Filtra por tipo</h4>
            @foreach (var plan in Model.Planes)
            {
                int cont = 1;
                    <h3 class="subencabezado">@continente</h3>

                    @foreach (var pais in Model.Paises)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox-@cont" value="@pais.Id">
                            <label class="form-check-label" for="inlineCheckbox-@cont">1</label>
                        </div>
                        cont++;
                    }

            }

    </div>*@






@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Revisado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPublicacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValoracionMedia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadValoraciones)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                   <img src="@Html.DisplayFor(modelItem => item.Imagen)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Revisado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPublicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValoracionMedia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadValoraciones)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
